

profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
        process {
            withLabel:containerCPU {
                container = 'bacterial-snps:latest'
            }
            withLabel:containerGPU {
                container = 'bacterial-snps:latest'
            }
        }
    }
    
    // profile using conda environments rather than docker
    // containers
    conda {
        docker {
            enabled = false
        }
        process {
            withLabel:containerCPU {
                conda = "environment.yaml"
            }
            withLabel:containerGPU {
                conda = "environment.yaml"
            }
        }
        conda {
             cacheDir = ""
        }
    }
    
    // profile using conda environments rather than docker
    // containers
    conda {
        docker {
            enabled = false
        }
        process {
            conda = "environment.yaml"
        }
        conda {
             cacheDir = ""
        }
    }
}
