params.help = ""

params {
    help = false
    version = false
    out_dir = "output"
    store_dir = null
    fastq = null
    bam = null
    reference = null
    client_fields = null
    threads = 3
    chunk_size = 1000000
    run_bakta = true
    bakta_opts = null
    bakta_db = null
    aws_image_prefix = null
    aws_queue = null
    sample = null
    sample_sheet = null
    disable_ping = false
    reference_based_assembly = false
    override_basecaller_cfg = null
    min_read_length = 1000
    run_fastlint = true
    fastlint_threshold = 20
    max_coverage_plots = 20

    flye_opts = null
    flye_genome_size = null
    flye_asm_coverage = null

    run_plasmid_id = true
    plasmid_id_opts = null

    isolates = true
    sourmash_db_exclude_list = null
    resfinder_threshold = "0.8"
    resfinder_coverage = "0.6"
    pointfinder_ignore_indels = false
    pointfinder_ignore_stop_codons = false
    resfinder_db = null
    pointfinder_db = null
    sourmash_pointfinder_mapping = null

    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    analyse_unclassified = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wf'

    wf {
      example_cmd = [
            "--fastq 'wf-bacterial-genomes-demo/isolates_fastq'",
            "--isolates",
            "--sample_sheet 'wf-bacterial-genomes-demo/isolates_sample_sheet.csv'"
      ]
      common_sha = "shafdd79f8e4a6faad77513c36f623693977b92b08e"
      container_sha = "shab005a1bd7d4bb439bd864fecf5223e2741a53631"
      container_sha_mob_suite = "sha58c5d9a5c325a9592e45bed117cd3492fe32a160"
      container_sha_bakta = "sha451e08b86c656e9a09d956b9c949a3d15328413b"
      container_sha_medaka = "shacf8338462607b17b1d68dbce212cb93daea50bad"
      container_sha_seqsero = "sha96053b39b281e404cf1cf9c4684fa7dbc4e2761d"
      container_sha_resfinder = "sha1f3a3b4134bcff53aa406b2236a325dab01b8b20"
      container_sha_mlst = "sha8f8f258761d66116deb5b58b4204e5b7783a0c90"
      container_sha_sourmash = "shaa24757f555a797fb8bc6664f541357dd6f3b2854"
      agent = null
    }
}

manifest {
    name            = 'epi2me-labs/wf-bacterial-genomes'
    author          = 'Oxford Nanopore Technologies'
    homePage        = 'https://github.com/epi2me-labs/wf-bacterial-genomes'
    description     = 'Assembly, variant calling, and annotation of bacterial genomes.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = 'v2.0.1'
}

epi2melabs {
  tags = "wf-bacterial-genomes,assembly,denovo,alignment,mosdepth,bacteria"
  icon = "faBacterium"
}


// used by default for "standard" (docker) and singularity profiles,
// other profiles may override.
process {
    withLabel:wf_common {
        container = "ontresearch/wf-common:${params.wf.common_sha}"
    }   
    withLabel:wfbacterialgenomes {
        container = "ontresearch/wf-bacterial-genomes:${params.wf.container_sha}"
    }
    withLabel:bakta {
        container = "ontresearch/bakta:${params.wf.container_sha_bakta}"
    } 
    withLabel: mobsuite {
        container = "ontresearch/mob-suite:${params.wf.container_sha_mob_suite}"
    }
    withLabel:medaka {
        container = "ontresearch/medaka:${params.wf.container_sha_medaka}"
    }
    withLabel:amr {
        container = "ontresearch/resfinder:${params.wf.container_sha_resfinder}"
    }
    withLabel:mlst {
        container = "ontresearch/mlst:${params.wf.container_sha_mlst}"
    }
    withLabel:seqsero2 {
        container = "ontresearch/seqsero2:${params.wf.container_sha_seqsero}"
    }
    withLabel:sourmash {
        container = "ontresearch/sourmash:${params.wf.container_sha_sourmash}"
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
 
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }

    conda {
        conda.enabled = true
    }

    awsbatch {
        process {
            executor = 'awsbatch'
            queue = "${params.aws_queue}"
            memory = '32G'
            withLabel:wf_common {
                container = "${params.aws_image_prefix}-wf-common:${params.wf.common_sha}"
            }
            withLabel:wfbacterialgenomes {
                container = "${params.aws_image_prefix}-wf-bacterial-genomes:${params.wf.container_sha}"
            }
            withLabel:bakta {
                container = "${params.aws_image_prefix}-bakta:${params.wf.container_sha_bakta}"
            }
            withLabel:mobsuite {
                container = "${params.aws_image_prefix}-mob-suite:${params.wf.container_sha_mob_suite}"
            }
            withLabel:medaka {
                container = "${params.aws_image_prefix}-medaka:${params.wf.container_sha_medaka}"
            }
            withLabel:amr {
                container = "${params.aws_image_prefix}-resfinder:${params.wf.container_sha_resfinder}"
            }
            withLabel:mlst {
                container = "${params.aws_image_prefix}-mlst:${params.wf.container_sha_mlst}"
            }
            withLabel:seqsero2 {    
                container = "${params.aws_image_prefix}-seqsero2:${params.wf.container_sha_seqsero}"
            }
            withLabel:sourmash {    
                container = "${params.aws_image_prefix}-sourmash:${params.wf.container_sha_sourmash}"
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }
}


timeline {
  enabled = true
  file = "${params.out_dir}/execution/timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.out_dir}/execution/report.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.out_dir}/execution/trace.txt"
  overwrite = true
}

env {
    PYTHONNOUSERSITE = 1
    JAVA_TOOL_OPTIONS="-Xlog:disable -Xlog:all=warning:stderr"
}
